{% extends 'mainapp/basic.html' %}
{% load static %}
{% block title %} Stock Selector {% endblock %}
{% block css %}
<style>

</style>
{% endblock %}
{% block body %}
<div class="container">
    <h1>Live Stock Tracker</h1>
    <p>Select Stocks of your Choice</p>
    <form action='/stocktracker'>
        <label for="stockselector">Select Stocks:</label>
        <select multiple class="form-control form-select-lg mb-3" id="exampleFormControlSelect2" name="stockselector">
            {% for stocks in stock_setector %}
            <option value="{{ stocks }}">{{ stocks }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="d-grid gap-2">
            <input class='btn btn-primary' type="submit" value="Submit">
        </div>
    </form>
</div>

{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}